<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="layout">
        <main>
            <div class="wrapper">
                <h1 id="querry">{{ .Querry }}</h1>
            </div>
            <div class="wrapper">
                <p>Подождите, собираем данные</p>
            </div>
        </main>
    </div>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/assets/liteChart.min.js"></script>
</body>