<!DOCTYPE html>
<body>
    <div class="layout">
        <main>
            <div class="wrapper">
                
                    <input id="querry" placeholder="Поиск" class="search">
                    <div class="filters">
                        <h1>Количество Предложений</h1>
                        <label for="min">От</label>
                        <input id="min" type="number">
                        <label for="max">До</label>
                        <input id="max" type="number">
                    </div>
                    <button id="send">Подобрать</button>

                
            </div>
            
            <div class="wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Район</th>
                            <th>Жилой комплекс</th>
                            <th>Предложений</th>
                        </tr>
                    </thead>
                    {{range $ind, $row := .Data}}
                    <tr>
                        {{range $ind, $cell := $row }}
                        <td class="{{ $ind }}"> {{ $cell }}</td>
                        {{end}}
                    </tr>
                    {{end}}
                </table>
            </div>
        </main>
    </div>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/assets/loader.js"></script>
</body>
